%html
  %head
    %title Error
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "NONE,NOARCHIVE", :name => "robots"}
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}
    :css
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }   

  %body
    .container-fluid
      .h3 
        Error on that API
      