%br
%p Current Month Sales
= line_chart [{name: "Sales Values", data:@sales_values},{name: "Sales Items", data: @sales_counts},{name: "Sales Transactions", data: @transaction_counts}], height: "250px"
%p Sales Since Feb 2013 by Month
= column_chart @monthly_sales_values_for_chart, height: "250px"
%p Sales Since Feb 2015 by Day
= line_chart @all_sales_values_for_chart, height: "250px"
%p VAT %'s Since Feb 2015 by Day
= line_chart @vatpercent_hash, height: "250px", colors: ["pink", "#999"]



	      